body {
  background-color: #cefaea;
}

.App {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 6rem auto;
  padding: 3rem;
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: inset rgba(0, 79, 86, 0.6) 0 -2px 5px,
    inset rgba(252, 255, 255, 0.7) 0 2px 5px,
    rgba(0, 79, 86, 0.8) 0 2px 5px -1px;
}

.arrowRightLeft {
  position: relative;
  margin: 0 1rem;
}

.arrowRightLeft svg {
  position: relative;
  top: 3rem;
}

@media (max-width: 700px) {
  .App {
    flex-flow: column;
  }

  .arrowRightLeft {
    display: none;
  }
}
